**좌표계 종류 : EPSG5181**

In [ ]:
# 드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import os
from glob import glob
import pickle

In [ ]:
상권 = pd.read_excel("/content/drive/MyDrive/통계 빅데이터 공모전/data/상권 특성/상권리스트.xlsx")

### **geometry의 x/y 최대최소 이용**

In [ ]:
trdar = 상권.copy()
trdar.geometry

0       POLYGON ((192008.56 438553.17, 191987.74 43854...
1       POLYGON ((206296.88 459321.71, 206238.71 45929...
2       POLYGON ((192443.04 439028.23, 192507.94 43899...
3       POLYGON ((191390.84 437878.79000000004, 191371...
4       POLYGON ((210354.67 445450.29000000004, 210314...
                              ...
1666    POLYGON ((201553.986325298 452217.686202384, 2...
1667    POLYGON ((198035.74942062798 452283.9106263490...
1668    POLYGON ((208228.91417088 445674.946959898, 20...
1669    POLYGON ((205328.897308437 446048.922964627, 2...
1670    POLYGON ((199226.204779015 447867.577119885, 1...
Name: geometry, Length: 1671, dtype: object

In [ ]:
상권

,Unnamed: 0,STDR_YM_CD,TRDAR_SE_C,TRDAR_SE_1,TRDAR_NO,TRDAR_NM,XCNTS_VALU,YDNTS_VALU,SIGNGU_CD,ADSTRD_CD,geometry
0,0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,"POLYGON ((192008.56 438553.17, 191987.74 43854..."
1,1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,"POLYGON ((206296.88 459321.71, 206238.71 45929..."
2,2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,"POLYGON ((192443.04 439028.23, 192507.94 43899..."
3,3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,"POLYGON ((191390.84 437878.79000000004, 191371..."
4,4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,"POLYGON ((210354.67 445450.29000000004, 210314..."
...,...,...,...,...,...,...,...,...,...,...,...
1666,1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,"POLYGON ((201553.986325298 452217.686202384, 2..."
1667,1667,202112,U,관광특구,1001494,종로·청계 관광특구,199768,452273,11110,11110615,POLYGON ((198035.74942062798 452283.9106263490...
1668,1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,"POLYGON ((208228.91417088 445674.946959898, 20..."
1669,1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,"POLYGON ((205328.897308437 446048.922964627, 2..."
1670,1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,"POLYGON ((199226.204779015 447867.577119885, 1..."

In [ ]:
geom=trdar['geometry'].str.split(' ')

In [ ]:
geom

0       [POLYGON, ((192008.56, 438553.17,, 191987.74, ...
1       [POLYGON, ((206296.88, 459321.71,, 206238.71, ...
2       [POLYGON, ((192443.04, 439028.23,, 192507.94, ...
3       [POLYGON, ((191390.84, 437878.79000000004,, 19...
4       [POLYGON, ((210354.67, 445450.29000000004,, 21...
                              ...
1666    [POLYGON, ((201553.986325298, 452217.686202384...
1667    [POLYGON, ((198035.74942062798, 452283.9106263...
1668    [POLYGON, ((208228.91417088, 445674.946959898,...
1669    [POLYGON, ((205328.897308437, 446048.922964627...
1670    [POLYGON, ((199226.204779015, 447867.577119885...
Name: geometry, Length: 1671, dtype: object

In [ ]:
l1=[]

for j in range(len(geom[0])):
  l1.append(geom[0][j].split(','))
l2 = pd.DataFrame(l1).iloc[:,0]
l2 = l2.astype(float)
y_max = l2[1::2].max()
y_min = l2[1::2].min()
x_max = l2[::2].max()
x_min = l2[::2].min()

ValueError: ignored

In [ ]:
l2

0      192008.56
1      438553.17
2      191987.74
3      438544.51
4      191913.05
         ...
119    438605.38
120    192054.43
121    438591.85
122    192008.56
123    438553.17
Name: 0, Length: 124, dtype: float64

In [ ]:
#초기 데이터프레임 생성
ran = [x_min, x_max, y_min, y_max]
df11 = pd.DataFrame(ran).T
df11

           0          1          2          3
0  191626.74  192242.12  438544.51  439081.47

In [ ]:
for i in range(1,len(geom)): 
  l1=[]
  
  for j in range(len(geom[i])):
    l1.append(geom[i][j].split(','))
  l2 = pd.DataFrame(l1).iloc[:,0]
  try:
    l2 = l2.astype(float) 
  except:
     pass
  y_max = l2[1::2].max()
  y_min = l2[1::2].min()
  x_max = l2[::2].max()
  x_min = l2[::2].min()
  ran = [x_min, x_max, y_min, y_max]
  df22 = pd.DataFrame(ran).T
  df11 = df11.append(df22)

In [ ]:
df11

                   0                   1                 2                 3
0          191626.74           192242.12         438544.51         439081.47
0          206170.86           206358.74         459299.03          459563.6
0           192041.7           192557.92         438960.28         439178.99
0          191108.06           191470.44         437849.16         438178.93
0          210071.42           210372.46         445371.86         445659.89
..               ...                 ...               ...               ...
0       200377.85292       201590.605471     451670.967652     452246.400447
0      198013.331674        201383.46388     452065.426802     452611.339129
0      208197.649441       211576.892042     445156.444683     447387.110211
0      205039.806949       205560.632953     445381.595583     446048.922965
0   198944.696026336  200239.73991702302  447860.055959045  448825.637470264

[1671 rows x 4 columns]

In [ ]:
len(geom)

1671

In [ ]:
df11.index=trdar['TRDAR_NO']

In [ ]:
df11['num']=range(len(df11))

In [ ]:
df11[0]=df11[0].astype(float)
df11[1]=df11[1].astype(float)
df11[2]=df11[2].astype(float)
df11[3]=df11[3].astype(float)

In [ ]:
df11

                      0              1              2              3   num
TRDAR_NO
2110753   191626.740000  192242.120000  438544.510000  439081.470000     0
2110427   206170.860000  206358.740000  459299.030000  459563.600000     1
2110755   192041.700000  192557.920000  438960.280000  439178.990000     2
2110739   191108.060000  191470.440000  437849.160000  438178.930000     3
2111017   210071.420000  210372.460000  445371.860000  445659.890000     4
...                 ...            ...            ...            ...   ...
1001493   200377.852920  201590.605471  451670.967652  452246.400447  1666
1001494   198013.331674  201383.463880  452065.426802  452611.339129  1667
1001495   208197.649441  211576.892042  445156.444683  447387.110211  1668
1001496   205039.806949  205560.632953  445381.595583  446048.922965  1669
1001491   198944.696026  200239.739917  447860.055959  448825.637470  1670

[1671 rows x 5 columns]

In [ ]:
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/업체 데이터/데이터최종원본.pickle', 'rb') as f:
    main_df = pickle.load(f)

In [ ]:
main_data = main_df.copy()
main_data

,인허가일자,영업상태명,폐업일자,소재지수정,사업장명,좌표정보(X),좌표정보(Y),다중이용업소여부,시설총규모,추정임대료,가맹여부,업종분류,인허가년도,인허가분기,사업기간,폐업1년이내,폐업3년이내,폐업여부,코로나여부
0,20170102,폐업,20180725,서울특별시 중구 을지로6가 18-12,면면,200703.625559,451836.458257,N,29.88,1.129464e+09,0,한식음식점,2017,1,569.0,0,1,1,0
1,20170102,폐업,20180404,서울특별시 용산구 이태원동 44-17,메그놀리아디자인카페,199117.051682,447830.318353,N,72.99,7.554465e+08,0,커피음료,2017,1,457.0,0,1,1,0
2,20170102,영업/정상,NaN,서울특별시 성동구 행당동 286-43,백채왕십리역점,202866.561868,451003.516900,N,36.61,3.060596e+08,1,한식음식점,2017,1,NaN,0,0,0,0
3,20170102,영업/정상,NaN,서울특별시 성동구 성수동2가 289-5,우리푸드,205005.412996,449496.502512,N,126.46,1.018635e+09,0,한식음식점,2017,1,NaN,0,0,0,0
4,20170102,폐업,20170920,서울특별시 동대문구 장안동 374-1,일촌김밥분식,206009.495098,451806.846263,N,47.94,4.268578e+08,0,한식음식점,2017,1,261.0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64949,20211230,영업/정상,NaN,서울특별시 강동구 강일동 679-3,곽만근족발슈바인학센강일고덕점,215289.000000,451365.000000,N,37.24,2.267916e+08,1,한식음식점,2021,4,NaN,0,0,0,1
64950,20211231,영업/정상,NaN,서울특별시 서초구 우면동 737,미스터국수왕양재우면점,202273.874012,439920.557145,N,32.09,1.700128e+08,1,분식전문점,2021,4,NaN,0,0,0,1
64951,20211231,영업/정상,NaN,서울특별시 강남구 신사동 648-4,마일하이(Milehigh),203193.687163,446935.632896,Y,163.11,2.815279e+09,0,양식음식점,2021,4,NaN,0,0,0,1
64952,20211231,영업/정상,NaN,서울특별시 강남구 신사동 644-6,우모크,203060.957538,447152.599452,Y,342.66,3.382054e+09,0,한식음식점,2021,4,NaN,0,0,0,1
64954,20211231,영업/정상,NaN,서울특별시 강동구 길동 325-14,십점구(10.9),212830.393665,449111.777293,N,38.60,1.594566e+08,0,기타,2021,4,NaN,0,0,0,1

In [ ]:
main_data.columns

Index(['인허가일자', '영업상태명', '폐업일자', '소재지수정', '사업장명', '좌표정보(X)', '좌표정보(Y)',
       '다중이용업소여부', '시설총규모', '추정임대료', '가맹여부', '업종분류', '인허가년도', '인허가분기', '사업기간',
       '폐업1년이내', '폐업3년이내', '폐업여부', '코로나여부'],
      dtype='object')

In [ ]:
main_data['상권코드'] = 0

In [ ]:
main_data['번호']=range(len(main_data))

In [ ]:
main_data

,인허가일자,영업상태명,폐업일자,소재지수정,사업장명,좌표정보(X),좌표정보(Y),다중이용업소여부,시설총규모,추정임대료,...,업종분류,인허가년도,인허가분기,사업기간,폐업1년이내,폐업3년이내,폐업여부,코로나여부,상권코드,번호
0,20170102,폐업,20180725,서울특별시 중구 을지로6가 18-12,면면,200703.625559,451836.458257,N,29.88,1.129464e+09,...,한식음식점,2017,1,569.0,0,1,1,0,0,0
1,20170102,폐업,20180404,서울특별시 용산구 이태원동 44-17,메그놀리아디자인카페,199117.051682,447830.318353,N,72.99,7.554465e+08,...,커피음료,2017,1,457.0,0,1,1,0,0,1
2,20170102,영업/정상,NaN,서울특별시 성동구 행당동 286-43,백채왕십리역점,202866.561868,451003.516900,N,36.61,3.060596e+08,...,한식음식점,2017,1,NaN,0,0,0,0,0,2
3,20170102,영업/정상,NaN,서울특별시 성동구 성수동2가 289-5,우리푸드,205005.412996,449496.502512,N,126.46,1.018635e+09,...,한식음식점,2017,1,NaN,0,0,0,0,0,3
4,20170102,폐업,20170920,서울특별시 동대문구 장안동 374-1,일촌김밥분식,206009.495098,451806.846263,N,47.94,4.268578e+08,...,한식음식점,2017,1,261.0,1,0,1,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64949,20211230,영업/정상,NaN,서울특별시 강동구 강일동 679-3,곽만근족발슈바인학센강일고덕점,215289.000000,451365.000000,N,37.24,2.267916e+08,...,한식음식점,2021,4,NaN,0,0,0,1,0,59321
64950,20211231,영업/정상,NaN,서울특별시 서초구 우면동 737,미스터국수왕양재우면점,202273.874012,439920.557145,N,32.09,1.700128e+08,...,분식전문점,2021,4,NaN,0,0,0,1,0,59322
64951,20211231,영업/정상,NaN,서울특별시 강남구 신사동 648-4,마일하이(Milehigh),203193.687163,446935.632896,Y,163.11,2.815279e+09,...,양식음식점,2021,4,NaN,0,0,0,1,0,59323
64952,20211231,영업/정상,NaN,서울특별시 강남구 신사동 644-6,우모크,203060.957538,447152.599452,Y,342.66,3.382054e+09,...,한식음식점,2021,4,NaN,0,0,0,1,0,59324
64954,20211231,영업/정상,NaN,서울특별시 강동구 길동 325-14,십점구(10.9),212830.393665,449111.777293,N,38.60,1.594566e+08,...,기타,2021,4,NaN,0,0,0,1,0,59325

In [ ]:

def trdar(i):
  try:
    x=main_data['좌표정보(X)'].astype(float)
    y=main_data['좌표정보(Y)'].astype(float)
    return np.where((x>=df11.iloc[i,0])&(x<=df11.iloc[i,1])&(y>=df11.iloc[i,2])&(y<=df11.iloc[i,3]))
  except:
    pass

In [ ]:
df11['상권'] = df11['num'].map(lambda x : trdar(x))

In [ ]:
df11['상권'].T

TRDAR_NO
2110753    ([538, 777, 1038, 2649, 3008, 3041, 3481, 5272...
2110427                              ([8981, 15007, 29838],)
2110755                                                ([],)
2110739    ([74, 372, 3401, 10787, 13071, 18806, 26514, 3...
2111017    ([38158, 38356, 41309, 42045, 42310, 42799, 43...
                                 ...
1001493    ([0, 78, 1265, 1293, 1751, 2220, 2221, 2291, 2...
1001494    ([124, 177, 218, 240, 361, 438, 567, 568, 702,...
1001495    ([37340, 37354, 37355, 37381, 37411, 37418, 37...
1001496    ([37309, 37336, 37528, 37703, 37738, 38089, 38...
1001491    ([63, 163, 164, 196, 246, 247, 285, 289, 363, ...
Name: 상권, Length: 1671, dtype: object

In [ ]:
#빈 리스트에 모두 추가하는 방식
f_list=[]
k_=[]
for i in range(len(df11)):
  try:
    for j in range(len(df11['상권'].iloc[i][0])):
       f_list.append(df11['상권'].iloc[i][0][j])
    k_+=[f_list]
  except:
    pass

상권 한행의 밸류를 꺼내서, 거기에 대응되는 trdar_no을 행에 집어넣자. .

In [ ]:
ind_ = list(map(lambda x: list(list(x)[0]) ,df11.상권))

In [ ]:
cod_ = list(df11.index)

In [ ]:
len (ind_)

1671

In [ ]:
main_data = main_data.reset_index(drop=True)

In [ ]:
data = main_data.copy()

In [ ]:
data['상권코드'] = data['상권코드'].astype(str)

0        0
1        0
2        0
3        0
4        0
        ..
59321    0
59322    0
59323    0
59324    0
59325    0
Name: 상권코드, Length: 59326, dtype: object

In [ ]:
def map_(x):
  if data['상권코드'].loc[ind_[x]].str == '0':
    data['상권코드'].loc[ind_[x]] = cod_[x]
  else:
    data['상권코드'].loc[ind_[x]] = data['상권코드'].loc[ind_[x]] + f' {cod_[x]}'

list(map(map_, range(len(ind_))))

In [ ]:
data['상권코드'] = data['상권코드'].str[1:].str.split()

In [ ]:
len(data['상권코드'][1])

0

In [ ]:
import math


# 점과 점 사이의 거리 구하는 함수
def distance(x1, y1, x2, y2):
    result = math.sqrt( math.pow(x1 - x2, 2) + math.pow(y1 - y2, 2))
    return result

In [ ]:
a = 상권[상권['TRDAR_NO'].where(상권['TRDAR_NO']==int('2110753')).notnull()][['XCNTS_VALU','YDNTS_VALU']]

In [ ]:
a.iloc[0]

XCNTS_VALU    191934
YDNTS_VALU    438813
Name: 0, dtype: int64

In [ ]:
상권['TRDAR_NO'].where(상권['TRDAR_NO']==int('2110753')).isnull()

0       False
1        True
2        True
3        True
4        True
        ...
1666     True
1667     True
1668     True
1669     True
1670     True
Name: TRDAR_NO, Length: 1671, dtype: bool

In [ ]:
distance(float(data['좌표정보(X)'][0]), float(data['좌표정보(Y)'][0]),float(상권['XCNTS_VALU'][0]), float(상권['YDNTS_VALU'][0]))

15700.853397547775

In [ ]:
data['상권코드'][0][1]

'1001493'

In [ ]:
list(map(min_, [0,0], list(data['상권코드'][0])))

[15700.853397547775, 15700.853397547775]

In [ ]:
def coord_(x):
  if len(data['상권코드'][x]) != 0:
    data['상권코드'][x] = data['상권코드'][x][np.argmin(list(map(min_, [x]*len(data['상권코드'][x]), list(data['상권코드'][x]))))]
  else:
    data['상권코드'][x] = 0

In [ ]:
def min_(i_, x):
  a = 상권[상권['TRDAR_NO'].where(상권['TRDAR_NO']==int(x)).notnull()][['XCNTS_VALU','YDNTS_VALU']]
  return distance(float(data['좌표정보(X)'][i_]), float(data['좌표정보(Y)'][i_]), float(a.iloc[0,0]), float(a.iloc[0,1]))

In [ ]:
list(map(coord_, range(len(data))))

In [ ]:
len(data['상권코드'][0])

In [ ]:
data

,인허가일자,영업상태명,폐업일자,소재지수정,사업장명,좌표정보(X),좌표정보(Y),다중이용업소여부,시설총규모,추정임대료,...,업종분류,인허가년도,인허가분기,사업기간,폐업1년이내,폐업3년이내,폐업여부,코로나여부,상권코드,번호
0,20170102,폐업,20180725,서울특별시 중구 을지로6가 18-12,면면,200703.625559,451836.458257,N,29.88,1.129464e+09,...,한식음식점,2017,1,569.0,0,1,1,0,2120037,0
1,20170102,폐업,20180404,서울특별시 용산구 이태원동 44-17,메그놀리아디자인카페,199117.051682,447830.318353,N,72.99,7.554465e+08,...,커피음료,2017,1,457.0,0,1,1,0,0,1
2,20170102,영업/정상,NaN,서울특별시 성동구 행당동 286-43,백채왕십리역점,202866.561868,451003.516900,N,36.61,3.060596e+08,...,한식음식점,2017,1,NaN,0,0,0,0,2110112,2
3,20170102,영업/정상,NaN,서울특별시 성동구 성수동2가 289-5,우리푸드,205005.412996,449496.502512,N,126.46,1.018635e+09,...,한식음식점,2017,1,NaN,0,0,0,0,2120052,3
4,20170102,폐업,20170920,서울특별시 동대문구 장안동 374-1,일촌김밥분식,206009.495098,451806.846263,N,47.94,4.268578e+08,...,한식음식점,2017,1,261.0,1,0,1,0,2110229,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59321,20211230,영업/정상,NaN,서울특별시 강동구 강일동 679-3,곽만근족발슈바인학센강일고덕점,215289.000000,451365.000000,N,37.24,2.267916e+08,...,한식음식점,2021,4,NaN,0,0,0,1,0,59321
59322,20211231,영업/정상,NaN,서울특별시 서초구 우면동 737,미스터국수왕양재우면점,202273.874012,439920.557145,N,32.09,1.700128e+08,...,분식전문점,2021,4,NaN,0,0,0,1,0,59322
59323,20211231,영업/정상,NaN,서울특별시 강남구 신사동 648-4,마일하이(Milehigh),203193.687163,446935.632896,Y,163.11,2.815279e+09,...,양식음식점,2021,4,NaN,0,0,0,1,2120193,59323
59324,20211231,영업/정상,NaN,서울특별시 강남구 신사동 644-6,우모크,203060.957538,447152.599452,Y,342.66,3.382054e+09,...,한식음식점,2021,4,NaN,0,0,0,1,2120193,59324
59325,20211231,영업/정상,NaN,서울특별시 강동구 길동 325-14,십점구(10.9),212830.393665,449111.777293,N,38.60,1.594566e+08,...,기타,2021,4,NaN,0,0,0,1,2111078,59325

In [ ]:
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/상권 특성/상권코드연결_거리최소.pickle', 'wb') as f:
    pickle.dump(data, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/상권 특성/상권코드연결.pickle', 'wb') as f:
    pickle.dump(main_data, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
main_data.shape

(67307, 42)

In [ ]:
len(main_data[main_data['상권코드']==0])

13575

In [ ]:
sub_data =main_data[main_data['상권코드']==0] # 상권배후지로 상권코드를 찾을 데이터

In [ ]:
sub_data = sub_data['번호']

In [ ]:
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/상권 특성/상권배후지data.pickle', 'wb') as f:
    pickle.dump(sub_data, f, pickle.HIGHEST_PROTOCOL)

In [ ]:

len(set(f_list))

53732

In [ ]:
df11= df11.rename(columns={"상권":"업체번호"})
df11

,0,1,2,3,num,업체번호
TRDAR_NO,,,,,,
2110753,191626.740000,192242.120000,438544.510000,439081.470000,0,"([571, 828, 1105, 2846, 3259, 3296, 3796, 5821..."
2110427,206170.860000,206358.740000,459299.030000,459563.600000,1,"([9900, 16498, 16499, 33565],)"
2110755,192041.700000,192557.920000,438960.280000,439178.990000,2,"([],)"
2110739,191108.060000,191470.440000,437849.160000,438178.930000,3,"([77, 395, 3682, 11849, 14331, 20856, 29716, 3..."
2111017,210071.420000,210372.460000,445371.860000,445659.890000,4,"([43077, 43297, 46648, 47489, 47809, 48334, 48..."
...,...,...,...,...,...,...
1001493,200377.852920,201590.605471,451670.967652,452246.400447,1666,"([0, 82, 728, 1346, 1348, 1378, 1865, 2393, 23..."
1001494,198013.331674,201383.463880,452065.426802,452611.339129,1667,"([130, 188, 232, 256, 382, 383, 463, 600, 601,..."
1001495,208197.649441,211576.892042,445156.444683,447387.110211,1668,"([42212, 42226, 42227, 42253, 42276, 42280, 42..."
1001496,205039.806949,205560.632953,445381.595583,446048.922965,1669,"([42181, 42208, 42410, 42596, 42634, 43007, 43..."
1001491,198944.696026,200239.739917,447860.055959,448825.637470,1670,"([65, 174, 175, 208, 262, 263, 304, 308, 385, ..."

## **상권리스트의 x/y 좌표 이용하기**

In [ ]:
x_range=(df11.iloc[:,1]-df11.iloc[:,0]).mean()

In [ ]:
y_range=(df11.iloc[:,3]-df11.iloc[:,2]).mean()

In [ ]:
x_std=(df11.iloc[:,1]-df11.iloc[:,0]).std()
y_std=(df11.iloc[:,3]-df11.iloc[:,2]).std()

In [ ]:
상권

In [ ]:
rang=pd.DataFrame({'xmin': 상권['XCNTS_VALU']-x_std})

In [ ]:
rang['xmax'] = 상권['XCNTS_VALU']+x_std
rang['ymin'] = 상권['YDNTS_VALU']-x_std
rang['ymax'] = 상권['YDNTS_VALU']+y_std
rang['num'] = range(len(rang['ymax']))

In [ ]:

def trdar(i):
  try:
    x=main_data['좌표정보(X)'].astype(float)
    y=main_data['좌표정보(Y)'].astype(float)
    return np.where((x>=rang.iloc[i,0])&(x<=rang.iloc[i,1])&(y>=rang.iloc[i,2])&(y<=rang.iloc[i,3]))
  except:
    pass

In [ ]:
rang['상권'] = rang['num'].map(lambda x : trdar(x))

In [ ]:
rang

In [ ]:
1#빈 리스트에 모두 추가하는 방식
f_list=[]
for i in range(len(rang)):
  try:
    for j in range(len(rang['상권'].iloc[i][0])):
       f_list.append(rang['상권'].iloc[i][0][j])
  except:
    pass

In [ ]:
len(f_list)

In [ ]:
len(set(f_list))

geometry의 2표준편차로 했을때 -> 87725/ 51019

geometry의 minmax평균으로 했을때 -> 66757/ 44750

geometry의 minmax 2/3로 나누었을때 -> 29964 / 25511

## **원으로 해보기**

In [ ]:
상권

In [ ]:
import math

In [ ]:
def trdar(i):
  try:
    x=main_data['좌표정보(X)'].astype(float)
    y=main_data['좌표정보(Y)'].astype(float)
    return np.where(x_std**2)>=(상권['XCNTS_VALU'][i]-x)**2+(상권['YDNTS_VALU'][i]-y)**2
  except:
    pass

In [ ]:
rang['상권'] = rang['num'].map(lambda x : trdar(x))

In [ ]:
1#빈 리스트에 모두 추가하는 방식
f_list=[]
for i in range(len(rang)):
  try:
    for j in range(len(rang['상권'].iloc[i][0])):
       f_list.append(rang['상권'].iloc[i][0][j])
  except:
    pass

In [ ]:
len(f_list)

In [ ]:
len(set(f_list))

In [ ]:
x=main_data['좌표정보(X)'].astype(float)
y=main_data['좌표정보(Y)'].astype(float)

In [ ]:
np.where(x_std**2)>=(상권['XCNTS_VALU'][i]-x)**2+(상권['YDNTS_VALU'][i]-y)**2

In [ ]:
상권['XCNTS_VALU']

In [ ]:
x

In [ ]:
# 드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import os
from glob import glob
import pickle
상권 = pd.read_excel("/content/drive/MyDrive/통계 빅데이터 공모전/data/상권 특성/상권리스트.xlsx")
##geomtry 이용
trdar = 상권.copy()
geom=trdar['geometry'].str.split(' ')
l1=[]

for j in range(len(geom[0])):
  l1.append(geom[0][j].split(','))
l2 = pd.DataFrame(l1).iloc[:,0]
l2 = l2.astype(float)
y_max = l2[1::2].max()
y_min = l2[1::2].min()
x_max = l2[::2].max()
x_min = l2[::2].min()
#초기 데이터프레임 생성
ran = [x_min, x_max, y_min, y_max]
df11 = pd.DataFrame(ran).T
for i in range(1,len(geom)): 
  l1=[]
  
  for j in range(len(geom[i])):
    l1.append(geom[i][j].split(','))
  l2 = pd.DataFrame(l1).iloc[:,0]
  try:
    l2 = l2.astype(float) 
  except:
     pass
  y_max = l2[1::2].max()
  y_min = l2[1::2].min()
  x_max = l2[::2].max()
  x_min = l2[::2].min()
  ran = [x_min, x_max, y_min, y_max]
  df22 = pd.DataFrame(ran).T
  df11 = df11.append(df22)
df11.index=trdar['TRDAR_NO']
df11['num']=range(len(df11))
df11[0]=df11[0].astype(float)
df11[1]=df11[1].astype(float)
df11[2]=df11[2].astype(float)
df11[3]=df11[3].astype(float)
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/업체 데이터/데이터최종원본.pickle', 'rb') as f:
    main_df = pickle.load(f) 
main_data = main_df.copy() 
main_data['상권코드'] = 0
main_data['번호']=range(len(main_data))

def trdar(i):
  try:
    x=main_data['좌표정보(X)'].astype(float)
    y=main_data['좌표정보(Y)'].astype(float)
    return np.where((x>=df11.iloc[i,0])&(x<=df11.iloc[i,1])&(y>=df11.iloc[i,2])&(y<=df11.iloc[i,3]))
  except:
    pass
df11['상권'] = df11['num'].map(lambda x : trdar(x))
#빈 리스트에 모두 추가하는 방식
f_list=[]
k_=[]
for i in range(len(df11)):
  try:
    for j in range(len(df11['상권'].iloc[i][0])):
       f_list.append(df11['상권'].iloc[i][0][j])
    k_+=[f_list]
  except:
    pass  
ind_ = list(map(lambda x: list(list(x)[0]) ,df11.상권))
cod_ = list(df11.index)
main_data = main_data.reset_index(drop=True)
data = main_data.copy()
data['상권코드'] = data['상권코드'].astype(str)
def map_(x):
  if data['상권코드'].loc[ind_[x]].str == '0':
    data['상권코드'].loc[ind_[x]] = cod_[x]
  else:
    data['상권코드'].loc[ind_[x]] = data['상권코드'].loc[ind_[x]] + f' {cod_[x]}'

list(map(map_, range(len(ind_))))
data['상권코드'] = data['상권코드'].str[1:].str.split()
import math


# 점과 점 사이의 거리 구하는 함수
def distance(x1, y1, x2, y2):
    result = math.sqrt( math.pow(x1 - x2, 2) + math.pow(y1 - y2, 2))
    return result
a = 상권[상권['TRDAR_NO'].where(상권['TRDAR_NO']==int('2110753')).notnull()][['XCNTS_VALU','YDNTS_VALU']]
def coord_(x):
  if len(data['상권코드'][x]) != 0:
    data['상권코드'][x] = data['상권코드'][x][np.argmin(list(map(min_, [x]*len(data['상권코드'][x]), list(data['상권코드'][x]))))]
  else:
    data['상권코드'][x] = 0
def min_(i_, x):
  a = 상권[상권['TRDAR_NO'].where(상권['TRDAR_NO']==int(x)).notnull()][['XCNTS_VALU','YDNTS_VALU']]
  return distance(float(data['좌표정보(X)'][i_]), float(data['좌표정보(Y)'][i_]), float(a.iloc[0,0]), float(a.iloc[0,1]))
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/상권 특성/상권코드연결_거리최소.pickle', 'wb') as f:
    pickle.dump(data, f, pickle.HIGHEST_PROTOCOL)
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/상권 특성/상권코드연결.pickle', 'wb') as f:
    pickle.dump(main_data, f, pickle.HIGHEST_PROTOCOL)
sub_data =main_data[main_data['상권코드']==0] # 상권배후지로 상권코드를 찾을 데이터
sub_data = sub_data['번호']
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/상권 특성/상권배후지data.pickle', 'wb') as f:
    pickle.dump(sub_data, f, pickle.HIGHEST_PROTOCOL)
df11= df11.rename(columns={"상권":"업체번호"})

##x/y좌표 이용
x_range=(df11.iloc[:,1]-df11.iloc[:,0]).mean()
y_range=(df11.iloc[:,3]-df11.iloc[:,2]).mean()
rang=pd.DataFrame({'xmin': 상권['XCNTS_VALU']-x_std})
rang['xmax'] = 상권['XCNTS_VALU']+x_std
rang['ymin'] = 상권['YDNTS_VALU']-x_std
rang['ymax'] = 상권['YDNTS_VALU']+y_std
rang['num'] = range(len(rang['ymax']))

def trdar(i):
  try:
    x=main_data['좌표정보(X)'].astype(float)
    y=main_data['좌표정보(Y)'].astype(float)
    return np.where((x>=rang.iloc[i,0])&(x<=rang.iloc[i,1])&(y>=rang.iloc[i,2])&(y<=rang.iloc[i,3]))
  except:
    pass
rang['상권'] = rang['num'].map(lambda x : trdar(x))
1#빈 리스트에 모두 추가하는 방식
f_list=[]
for i in range(len(rang)):
  try:
    for j in range(len(rang['상권'].iloc[i][0])):
       f_list.append(rang['상권'].iloc[i][0][j])
  except:
    pass