In [1]:
# 드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import os
from glob import glob
import pickle

In [3]:
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/최종데이터.pickle', 'rb') as f:
    main = pickle.load(f)

In [4]:
main.shape

(56725, 83)

In [5]:
main.columns

Index(['인허가일자', '영업상태명', '폐업일자', '소재지수정', '사업장명', '좌표정보(X)', '좌표정보(Y)',
       '다중이용업소여부', '시설총규모', '추정임대료', '가맹여부', '업종분류', '인허가년도', '인허가분기', '사업기간',
       '폐업1년이내', '폐업3년이내', '폐업여부', '코로나여부', '상권코드', '번호', '상권배후지 상권코드',
       'Unnamed: 0_x_x', '시군구_코드_x', '시군구_코드_명_x', '상권_변화_지표_명_x',
       '상권_구분_코드_명_x', '행정동_코드_x', '집객시설_수_x', '관공서_수_x', '은행_수_x', '종합병원_수_x',
       '일반_병원_수_x', '약국_수_x', '유치원_수_x', '초등학교_수_x', '중학교_수_x', '고등학교_수_x',
       '대학교_수_x', '백화점_수_x', '슈퍼마켓_수_x', '극장_수_x', '숙박_시설_수_x', '공항_수_x',
       '철도_역_수_x', '버스_터미널_수_x', '지하철_역_수_x', '버스_정거장_수_x', '총_생활인구_수_x',
       '남성_생활인구_수_x', '여성_생활인구_수_x', '연령대_10_생활인구_수_x', '연령대_20_생활인구_수_x',
       '연령대_30_생활인구_수_x', '연령대_40_생활인구_수_x', '연령대_50_생활인구_수_x',
       '연령대_60_이상_생활인구_수_x', '아파트_단지_수_x', '아파트_평균_면적_x', '아파트_평균_시가_x',
       '총 상주인구 수', '남성 상주인구 수', '여성 상주인구 수', '연령대 10 상주인구 수', '연령대 20 상주인구 수',
       '연령대 30 상주인구 수', '연령대 40 상주인구 수', '연령대 50 상주인구 수', '연령대 60 이상 상주인구 수',
       '총 가구 수', '아파트 가구 수', '비 아파트 가구 수', '서비스_업종_코드_x', '분기당_매출_금액_x',
       '분기당_매출_건수_x', '주중_매출_비율_x', '주말_매출_비율_x', '점포수_x', '유사_업종_점포_수_x',
       '개업_율_x', '폐업_률_x', '프랜차이즈_점포_수_x', '학교_수_x'],
      dtype='object')

In [6]:
len(main)

56725

In [7]:
main[main['폐업3년이내']==1]

,인허가일자,영업상태명,폐업일자,소재지수정,사업장명,좌표정보(X),좌표정보(Y),다중이용업소여부,시설총규모,추정임대료,...,분기당_매출_금액_x,분기당_매출_건수_x,주중_매출_비율_x,주말_매출_비율_x,점포수_x,유사_업종_점포_수_x,개업_율_x,폐업_률_x,프랜차이즈_점포_수_x,학교_수_x
0,20170102,폐업,20180725,서울특별시 중구 을지로6가 18-12,면면,200703.625559,451836.458257,N,29.88,1.129464e+09,...,13969754152.0,460649.0,76.0,24.0,273.0,200.0,2.0,2.0,19.0,0.0
1,20170102,폐업,20180404,서울특별시 용산구 이태원동 44-17,메그놀리아디자인카페,199117.051682,447830.318353,N,72.99,7.554465e+08,...,2473148982.0,271366.0,63.0,37.0,93.0,52.0,14.0,4.0,7.0,2.0
4,20170102,폐업,20170920,서울특별시 동대문구 장안동 374-1,일촌김밥분식,206009.495098,451806.846263,N,47.94,4.268578e+08,...,1535875601.0,44900.0,75.0,25.0,62.0,33.0,0.0,3.0,1.0,0.0
10,20170102,폐업,20180713,서울특별시 강북구 수유동 472-602,1976샤브샤브,201401.174345,458731.307671,N,49.00,1.521450e+08,...,203010762.0,5304.0,66.0,34.0,25.0,16.0,6.0,0.0,0.0,0.0
14,20170102,폐업,20190919,서울특별시 마포구 서교동 396-49,오보레루라멘,192641.316804,449696.317431,N,55.84,5.891120e+08,...,283538809.111111,16784.666667,73.555556,26.444444,14.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56653,20211222,폐업,20220331,서울특별시 강남구 역삼동 696-16,윈야식,204120.350368,444834.722987,N,60.00,5.282400e+08,...,28453409569.0,774114.0,86.0,14.0,575.0,254.0,4.0,3.0,28.0,0.0
56678,20211224,폐업,20220425,서울특별시 강남구 일원동 627-8,미스터불닭발,207462.203173,443429.858934,N,20.45,1.357062e+08,...,5024943714.0,156740.0,76.0,24.0,184.0,75.0,4.0,1.0,16.0,0.0
56700,20211229,폐업,20220113,서울특별시 영등포구 여의도동 22,금덕푸드,193592.000380,447092.629433,N,0.00,0.000000e+00,...,9892073947.4,337246.1,85.7,14.3,198.1,101.8,2.2,2.1,19.0,0.0
56704,20211229,폐업,20220131,서울특별시 강남구 삼성동 159-7,편장군족발(한시적),205210.358779,445154.422252,N,0.00,0.000000e+00,...,22314622067.0,687283.0,92.0,8.0,508.0,222.0,2.0,4.0,38.0,0.0
56705,20211229,폐업,20220106,서울특별시 강남구 대치동 937,금덕푸드(한시적),204669.543367,443873.621189,N,0.00,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
15138/56725

0.2668664609960335

In [9]:
main['인허가일자']

0        20170102
1        20170102
2        20170102
3        20170102
4        20170102
           ...
56720    20211230
56721    20211230
56722    20211231
56723    20211231
56724    20211231
Name: 인허가일자, Length: 56725, dtype: object

In [10]:
index = pd.to_datetime(main['인허가일자'],format="%Y%m%d")

In [11]:
index

0       2017-01-02
1       2017-01-02
2       2017-01-02
3       2017-01-02
4       2017-01-02
           ...
56720   2021-12-30
56721   2021-12-30
56722   2021-12-31
56723   2021-12-31
56724   2021-12-31
Name: 인허가일자, Length: 56725, dtype: datetime64[ns]

In [12]:
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/seouldata_경제전처리.pickle', 'rb') as f:
    df = pickle.load(f)

In [13]:
df

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,선행종합지수(2015=100),전국,소비자심리지수,소기업
0,37768,일반음식점,07_24_04_P,3010000,3010000-101-2017-00001,2017-01-02,NaN,3,폐업,2,...,NaN,N,29.88,NaN,NaN,NaN,107.2,97.632,94.0,4.60
1,51499,일반음식점,07_24_04_P,3020000,3020000-101-2017-00001,2017-01-02,NaN,3,폐업,2,...,NaN,N,72.99,NaN,NaN,NaN,107.2,97.632,94.0,4.60
2,54896,일반음식점,07_24_04_P,3030000,3030000-101-2017-00001,2017-01-02,NaN,1,영업/정상,1,...,NaN,N,36.61,NaN,NaN,NaN,107.2,97.632,94.0,4.60
3,54897,일반음식점,07_24_04_P,3030000,3030000-101-2017-00002,2017-01-02,NaN,1,영업/정상,1,...,0.0,N,126.46,NaN,NaN,NaN,107.2,97.632,94.0,4.60
4,85257,일반음식점,07_24_04_P,3050000,3050000-101-2017-00003,2017-01-02,NaN,3,폐업,2,...,NaN,N,47.94,NaN,NaN,NaN,107.2,97.632,94.0,4.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64946,363189,일반음식점,07_24_04_P,3210000,3210000-101-2021-00614,2021-12-31,NaN,1,영업/정상,1,...,0.0,N,32.09,NaN,NaN,NaN,127.7,104.040,104.0,3.25
64947,419761,일반음식점,07_24_04_P,3220000,3220000-101-2021-01572,2021-12-31,NaN,1,영업/정상,1,...,0.0,Y,163.11,NaN,NaN,NaN,127.7,104.040,104.0,3.25
64948,419762,일반음식점,07_24_04_P,3220000,3220000-101-2021-01573,2021-12-31,NaN,1,영업/정상,1,...,0.0,Y,342.66,NaN,NaN,NaN,127.7,104.040,104.0,3.25
64949,433467,일반음식점,07_24_04_P,3230000,3230000-101-2021-00922,2021-12-31,NaN,1,영업/정상,1,...,0.0,N,27.40,NaN,NaN,NaN,127.7,104.040,104.0,3.25
64950,457441,일반음식점,07_24_04_P,3240000,3240000-101-2021-00484,2021-12-31,NaN,1,영업/정상,1,...,0.0,N,38.60,NaN,NaN,NaN,127.7,104.040,104.0,3.25

In [14]:
k = df.loc[:,['사업장명','선행종합지수(2015=100)','전국','소비자심리지수','소기업']]

In [15]:
k.shape

(64951, 5)

In [16]:
k

                   사업장명  선행종합지수(2015=100)       전국  소비자심리지수   소기업
0                    면면             107.2   97.632     94.0  4.60
1            메그놀리아디자인카페             107.2   97.632     94.0  4.60
2              백채 왕십리역점             107.2   97.632     94.0  4.60
3                  우리푸드             107.2   97.632     94.0  4.60
4                일촌김밥분식             107.2   97.632     94.0  4.60
...                 ...               ...      ...      ...   ...
64946      미스터국수왕 양재우면점             127.7  104.040    104.0  3.25
64947  마일 하이(Mile high)             127.7  104.040    104.0  3.25
64948               우모크             127.7  104.040    104.0  3.25
64949          The 착한김밥             127.7  104.040    104.0  3.25
64950         십점구(10.9)             127.7  104.040    104.0  3.25

[64951 rows x 5 columns]

In [17]:
main[['사업장명']]

                  사업장명
0                   면면
1           메그놀리아디자인카페
2              백채왕십리역점
3                 우리푸드
4               일촌김밥분식
...                ...
56720    주식회사더크레스트명일지점
56721  곽만근족발슈바인학센강일고덕점
56722   마일하이(Milehigh)
56723              우모크
56724        십점구(10.9)

[56725 rows x 1 columns]

In [18]:
main[main['사업장명']=='면면']['번호']

0    0
Name: 번호, dtype: int64

In [19]:
df[df['사업장명']=='면면']['번호']

0    37768
Name: 번호, dtype: int64

In [20]:
k['사업장명'] = k['사업장명'].str.replace(" ","")

In [21]:
k

                 사업장명  선행종합지수(2015=100)       전국  소비자심리지수   소기업
0                  면면             107.2   97.632     94.0  4.60
1          메그놀리아디자인카페             107.2   97.632     94.0  4.60
2             백채왕십리역점             107.2   97.632     94.0  4.60
3                우리푸드             107.2   97.632     94.0  4.60
4              일촌김밥분식             107.2   97.632     94.0  4.60
...               ...               ...      ...      ...   ...
64946     미스터국수왕양재우면점             127.7  104.040    104.0  3.25
64947  마일하이(Milehigh)             127.7  104.040    104.0  3.25
64948             우모크             127.7  104.040    104.0  3.25
64949         The착한김밥             127.7  104.040    104.0  3.25
64950       십점구(10.9)             127.7  104.040    104.0  3.25

[64951 rows x 5 columns]

In [22]:
len(index)

56725

In [23]:
k= k.loc[k['사업장명'].isin(index)]

In [24]:
last = pd.merge(main,k,on="사업장명",how='left')

In [25]:
k

Empty DataFrame
Columns: [사업장명, 선행종합지수(2015=100), 전국, 소비자심리지수, 소기업]
Index: []

In [26]:
len(main['사업장명'].tolist())

56725

In [27]:
len(main['사업장명'].unique())

50286

In [28]:
pd.DataFrame(main['사업장명'].value_counts()).head(50) # 프랜차이즈라 같음

          사업장명
옛날통닭        54
아지트         32
한국통닭        23
랍스터바        20
전주식당        19
김밥천국        18
인생닭강정       15
행복한밥상       15
하루          15
푸드모바일       14
신참떡볶이       13
혜화동돈까스극장    13
미분당         13
프로젝트렌트      13
명동칼국수       13
청년치킨        12
장수통닭        12
싸다김밥        12
시골밥상        12
신의주찹쌀순대     12
자담치킨        12
쿠웨이트떡볶이     12
인정국물떡볶이     12
이모네         12
다온          11
명가통닭        11
배달삼겹돼지되지    11
장호덕손만두      11
명성왕족발       11
우리식당        11
사계절         11
야한곱창        11
골목식당        10
뜸들이다        10
짝태&노가리      10
서울마님죽       10
곽선생왕만두      10
마왕족발        10
동남집         10
광수육회         9
탕화쿵푸마라탕      9
서울식당         9
베트남쌀국수       9
오한수우육면가      9
1988옛날통닭     9
시에이피컴퍼니      9
인생술집         9
지코바          9
짝태앤노가리       9
카츠젠          9

In [29]:
main['번호']

0            0
1            1
2            2
3            3
4            4
         ...
56720    59320
56721    59321
56722    59323
56723    59324
56724    59325
Name: 번호, Length: 56725, dtype: int64

In [30]:
index = pd.to_datetime(main['인허가일자'],format="%Y%m%d")

In [31]:
선행종합지수 = pd.read_csv("/content/drive/MyDrive/통계 빅데이터 공모전/data/경제 지표/경기종합지수.csv", encoding= 'euc-kr')

In [32]:
소비자물가지수 = pd.read_csv("/content/drive/MyDrive/통계 빅데이터 공모전/data/경제 지표/소비자물가지수.csv", encoding= 'euc-kr')

In [33]:
소비자심리지수 = pd.read_csv("/content/drive/MyDrive/통계 빅데이터 공모전/data/경제 지표/소비자심리지수.csv",encoding= 'euc-kr')

In [34]:
중소기업대출금리 = pd.read_excel("/content/drive/MyDrive/통계 빅데이터 공모전/data/경제 지표/은행_신규대출_대출금리.xlsx", index_col=0)

In [35]:
data2 = pd.DataFrame(index = index)

In [36]:
선행종합지수 = 선행종합지수.reindex()

In [37]:
선행종합지수['시점'] = pd.to_datetime(선행종합지수['시점'][:-3].astype('str'))

In [38]:
소비자물가지수 = 소비자물가지수.reindex()
소비자물가지수['시점'] = pd.to_datetime(소비자물가지수['시점'].astype('str'))

In [39]:
소비자심리지수 = 소비자심리지수.reindex()
소비자심리지수['시점'] = pd.to_datetime(소비자심리지수['시점'].astype('str'))

In [40]:
중소기업대출금리.index = pd.to_datetime(중소기업대출금리.index.astype('str')).to_period('D')
중소기업대출금리 = 중소기업대출금리.resample('D').mean().fillna(method='ffill')

In [41]:
data2

Empty DataFrame
Columns: []
Index: [2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-04 00:00:00, 2017-01-04 00:00:00, 2017-01-04 00:00:00, 2017-01-04 00:00:00, 2017-01-04 00:00:00, 2017-01-04 00:00:00, 2017-01-04 00:00:00, 2017-01-04 00:00:00, 2017-01-04 00:00:00, 2017-01-04 00:00:00, 2017-01-04 00:00:00, 2017-01-04 00:00:00, 2017-01-04 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-05 00:00:00, 2017-01-06 00:00:00, 2017-01-06 00:00:00, 2017-01-06 00:00:00, ...]

[56725 rows x 0 columns]

In [42]:
# 선행종합지수 = 선행종합지수.rename(columns={'시점':'인허가일자'})

In [43]:
# pd.merge(data2, 선행종합지수,on='인허가일자',how='left')

In [44]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 56725 entries, 2017-01-02 to 2021-12-31
Empty DataFrame

In [45]:
선행종합지수.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   시점                62 non-null     datetime64[ns]
 1   선행종합지수(2015=100)  65 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB

In [46]:
선행종합지수

           시점  선행종합지수(2015=100)
0  2017-01-01             106.6
1  2017-02-01             107.2
2  2017-03-01             107.6
3  2017-04-01             108.1
4  2017-05-01             108.4
..        ...               ...
60 2022-01-01             128.0
61 2022-02-01             128.0
62        NaT             128.1
63        NaT             128.2
64        NaT             128.7

[65 rows x 2 columns]

In [47]:
data2 = pd.merge(data2, 선행종합지수, left_index=True, right_on='시점',how='left')

In [48]:
data2 = data2.fillna(method='ffill').fillna(method='bfill')

In [49]:
data2

            시점  선행종합지수(2015=100)
NaN 2017-01-02             107.2
NaN 2017-01-02             107.2
NaN 2017-01-02             107.2
NaN 2017-01-02             107.2
NaN 2017-01-02             107.2
..         ...               ...
NaN 2021-12-30             127.7
NaN 2021-12-30             127.7
NaN 2021-12-31             127.7
NaN 2021-12-31             127.7
NaN 2021-12-31             127.7

[56725 rows x 2 columns]

In [50]:
data2 = pd.merge(data2, 소비자물가지수, left_on='시점', right_on='시점', how='left').fillna(method='ffill').fillna(method='bfill')

In [51]:
data2 = pd.merge(data2, 소비자심리지수, left_on='시점', right_on='시점', how='left').fillna(method='ffill').fillna(method='bfill')

In [52]:
중소기업대출금리 = 중소기업대출금리.reset_index().rename(columns={'년도':'시점'})

In [53]:
중소기업대출금리['시점']=pd.to_datetime(중소기업대출금리['시점'].astype('str'))

In [54]:
data2 = pd.merge(data2, 중소기업대출금리, left_on='시점', right_on='시점', how='left').fillna(method='ffill').fillna(method='bfill')

In [55]:
data2

              시점  선행종합지수(2015=100)       전국  소비자심리지수   소기업
0     2017-01-02             107.2   97.632     94.0  4.60
1     2017-01-02             107.2   97.632     94.0  4.60
2     2017-01-02             107.2   97.632     94.0  4.60
3     2017-01-02             107.2   97.632     94.0  4.60
4     2017-01-02             107.2   97.632     94.0  4.60
...          ...               ...      ...      ...   ...
56720 2021-12-30             127.7  104.040    104.0  3.25
56721 2021-12-30             127.7  104.040    104.0  3.25
56722 2021-12-31             127.7  104.040    104.0  3.25
56723 2021-12-31             127.7  104.040    104.0  3.25
56724 2021-12-31             127.7  104.040    104.0  3.25

[56725 rows x 5 columns]

In [56]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56725 entries, 0 to 56724
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   시점                56725 non-null  datetime64[ns]
 1   선행종합지수(2015=100)  56725 non-null  float64
 2   전국                56725 non-null  float64
 3   소비자심리지수           56725 non-null  float64
 4   소기업               56725 non-null  float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 2.6 MB

In [57]:
main['인허가일자']=pd.to_datetime(main['인허가일자'].astype('str'))

In [58]:
data3 = pd.concat([main, data2],axis=1).drop('시점',axis=1)

In [59]:
data3

,인허가일자,영업상태명,폐업일자,소재지수정,사업장명,좌표정보(X),좌표정보(Y),다중이용업소여부,시설총규모,추정임대료,...,점포수_x,유사_업종_점포_수_x,개업_율_x,폐업_률_x,프랜차이즈_점포_수_x,학교_수_x,선행종합지수(2015=100),전국,소비자심리지수,소기업
0,2017-01-02,폐업,20180725,서울특별시 중구 을지로6가 18-12,면면,200703.625559,451836.458257,N,29.88,1.129464e+09,...,273.0,200.0,2.0,2.0,19.0,0.0,107.2,97.632,94.0,4.60
1,2017-01-02,폐업,20180404,서울특별시 용산구 이태원동 44-17,메그놀리아디자인카페,199117.051682,447830.318353,N,72.99,7.554465e+08,...,93.0,52.0,14.0,4.0,7.0,2.0,107.2,97.632,94.0,4.60
2,2017-01-02,영업/정상,NaN,서울특별시 성동구 행당동 286-43,백채왕십리역점,202866.561868,451003.516900,N,36.61,3.060596e+08,...,15.0,11.0,9.0,0.0,3.0,0.0,107.2,97.632,94.0,4.60
3,2017-01-02,영업/정상,NaN,서울특별시 성동구 성수동2가 289-5,우리푸드,205005.412996,449496.502512,N,126.46,1.018635e+09,...,211.0,131.0,1.0,2.0,16.0,0.0,107.2,97.632,94.0,4.60
4,2017-01-02,폐업,20170920,서울특별시 동대문구 장안동 374-1,일촌김밥분식,206009.495098,451806.846263,N,47.94,4.268578e+08,...,62.0,33.0,0.0,3.0,1.0,0.0,107.2,97.632,94.0,4.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56720,2021-12-30,영업/정상,NaN,서울특별시 강동구 명일동 326-11,주식회사더크레스트명일지점,212760.331739,449726.156403,Y,153.75,9.412575e+08,...,36.0,20.0,0.0,0.0,0.0,0.0,127.7,104.040,104.0,3.25
56721,2021-12-30,영업/정상,NaN,서울특별시 강동구 강일동 679-3,곽만근족발슈바인학센강일고덕점,215289.000000,451365.000000,N,37.24,2.267916e+08,...,91.0,39.0,3.0,8.0,8.0,1.0,127.7,104.040,104.0,3.25
56722,2021-12-31,영업/정상,NaN,서울특별시 강남구 신사동 648-4,마일하이(Milehigh),203193.687163,446935.632896,Y,163.11,2.815279e+09,...,15.0,20.0,0.0,0.0,0.0,0.0,127.7,104.040,104.0,3.25
56723,2021-12-31,영업/정상,NaN,서울특별시 강남구 신사동 644-6,우모크,203060.957538,447152.599452,Y,342.66,3.382054e+09,...,168.0,78.0,1.0,4.0,6.0,0.0,127.7,104.040,104.0,3.25
56724,2021-12-31,영업/정상,NaN,서울특별시 강동구 길동 325-14,십점구(10.9),212830.393665,449111.777293,N,38.60,1.594566e+08,...,25.375,14.0,6.125,4.5,1.125,0.0,127.7,104.040,104.0,3.25

In [60]:
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/real_최종.pickle', 'wb') as f:
    pickle.dump(data3, f, pickle.HIGHEST_PROTOCOL)

In [61]:
data3.to_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/real_최종.csv')

In [62]:
data3

,인허가일자,영업상태명,폐업일자,소재지수정,사업장명,좌표정보(X),좌표정보(Y),다중이용업소여부,시설총규모,추정임대료,...,점포수_x,유사_업종_점포_수_x,개업_율_x,폐업_률_x,프랜차이즈_점포_수_x,학교_수_x,선행종합지수(2015=100),전국,소비자심리지수,소기업
0,2017-01-02,폐업,20180725,서울특별시 중구 을지로6가 18-12,면면,200703.625559,451836.458257,N,29.88,1.129464e+09,...,273.0,200.0,2.0,2.0,19.0,0.0,107.2,97.632,94.0,4.60
1,2017-01-02,폐업,20180404,서울특별시 용산구 이태원동 44-17,메그놀리아디자인카페,199117.051682,447830.318353,N,72.99,7.554465e+08,...,93.0,52.0,14.0,4.0,7.0,2.0,107.2,97.632,94.0,4.60
2,2017-01-02,영업/정상,NaN,서울특별시 성동구 행당동 286-43,백채왕십리역점,202866.561868,451003.516900,N,36.61,3.060596e+08,...,15.0,11.0,9.0,0.0,3.0,0.0,107.2,97.632,94.0,4.60
3,2017-01-02,영업/정상,NaN,서울특별시 성동구 성수동2가 289-5,우리푸드,205005.412996,449496.502512,N,126.46,1.018635e+09,...,211.0,131.0,1.0,2.0,16.0,0.0,107.2,97.632,94.0,4.60
4,2017-01-02,폐업,20170920,서울특별시 동대문구 장안동 374-1,일촌김밥분식,206009.495098,451806.846263,N,47.94,4.268578e+08,...,62.0,33.0,0.0,3.0,1.0,0.0,107.2,97.632,94.0,4.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56720,2021-12-30,영업/정상,NaN,서울특별시 강동구 명일동 326-11,주식회사더크레스트명일지점,212760.331739,449726.156403,Y,153.75,9.412575e+08,...,36.0,20.0,0.0,0.0,0.0,0.0,127.7,104.040,104.0,3.25
56721,2021-12-30,영업/정상,NaN,서울특별시 강동구 강일동 679-3,곽만근족발슈바인학센강일고덕점,215289.000000,451365.000000,N,37.24,2.267916e+08,...,91.0,39.0,3.0,8.0,8.0,1.0,127.7,104.040,104.0,3.25
56722,2021-12-31,영업/정상,NaN,서울특별시 강남구 신사동 648-4,마일하이(Milehigh),203193.687163,446935.632896,Y,163.11,2.815279e+09,...,15.0,20.0,0.0,0.0,0.0,0.0,127.7,104.040,104.0,3.25
56723,2021-12-31,영업/정상,NaN,서울특별시 강남구 신사동 644-6,우모크,203060.957538,447152.599452,Y,342.66,3.382054e+09,...,168.0,78.0,1.0,4.0,6.0,0.0,127.7,104.040,104.0,3.25
56724,2021-12-31,영업/정상,NaN,서울특별시 강동구 길동 325-14,십점구(10.9),212830.393665,449111.777293,N,38.60,1.594566e+08,...,25.375,14.0,6.125,4.5,1.125,0.0,127.7,104.040,104.0,3.25